@import url(reset.css);
@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(http://fonts.googleapis.com/css?family=Lato:300, 400);

/* Basic Tags */
html, body {
    background-color: #dddddd;
    color: #003b49;
    
    font-family: 'Lato', sans-serif;
    font-size: 1em;
    font-weight: 400;
    
    height: 100%; 
    width: 100%;
} 

body {
    margin: 0;
    padding: 0;
} 

/* HTML5 Tags */
footer {
    background-color: #003b49;
    border-top: 4px solid #777777;
    box-shadow: 0px 0px 8px 2px rgba(0,0,0,0.3);
    -webkit-box-shadow: 0px 0px 8px 2px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 0px 8px 2px rgba(0,0,0,0.3);
    
    font-size: 0.8em;
    line-height: 36px;
    height: 36px;
    text-align: center;
    width: 100%;
}

header {
    background-color: #003b49;
    border-bottom: 8px solid #777777;
    box-shadow: 0px 0px 8px 2px rgba(0,0,0,0.3);
    -webkit-box-shadow: 0px 0px 8px 2px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 0px 8px 2px rgba(0,0,0,0.3);
    
    height: 64px; 
    width: 100%;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2em;
    font-weight: 700;
    vertical-align: middle;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

b {
    font-weight: 700;
}

a {
    color: #cccccc;
    text-decoration: none;
}

a:hover, .hyperlink {
    color: #8edd65;
    cursor: pointer;
}

.info-section-title {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2em;
    font-weight: 700;
    margin: 12px 0 6px 0;
}

.nav-item {
    display: inline-block;
    float: right;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    height: 60px;
    line-height: 60px;
    text-align: center;
    text-transform: uppercase;
    width: 100px;
}

.text {
    color: #cccccc;
}

.card {
    position: absolute;
    top: 12px;
    right: 12px;
    
    background-color: #ffffff;
    display: inline-block;
    padding: 12px;
}

.horizontal-rule {
    border-bottom: 1px solid #cccccc;
    height: 1px;
    margin: 8px 0;
    width: 100%;
}

.marker-content-datum {
    padding: 2px 0;
}

.marker-link {
    color: #003b49;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
}

.station-card-datum {
    margin-left: 12px;
    padding: 4px 0;
}

.marker-content, .station-card-datum-content {
    display: inline-block;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}

.marker-label, .station-card-datum-label {
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

.marker-label {
    margin-right: 4px;
}

/* Ids (Listed Alphabetically) */
#content {
    position: relative;
    height: calc(100% - 112px); 
    width: 100%;
}

#header-content-wrapper {
    height: 64px;
    position: relative;
    margin: 0 auto;
    width: 100%;
      max-width: 1200px;
}

#info-card {
  box-shadow: 0px 0px 8px 2px rgba(0,0,0,0.3);
  -webkit-box-shadow: 0px 0px 8px 2px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px 0px 8px 2px rgba(0,0,0,0.3);
    
  height: calc(100% - 56px);
  overflow: scroll;
  width: 20%;
    max-width: 700px;
    min-width: 300px;
}

#info-title {
    margin-top: 8px;
    text-align: center;
}

#map-underlay {
    position: absolute;
    left: 0;
    top: 0;
    
    height: 100%; 
    vertical-align: top;
    width: 100%;
}

#marker-title {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2em;
    font-weight: 700;
    line-height: 1.4em;
    margin-bottom: 4px;
    max-width: 250px;
}

#navigation {
    display: inline-block;
    float: right;
    position: absolute;
    right: 0;
    width: 400px;
}

#site-title {
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    height: 60px;
    left: 0;
    line-height: 60px;
    padding-left: 25px;
    position: absolute;
    text-transform: uppercase;
    width: auto;
}

#station-card-streetview {
    background-color: #cccccc;
    height: 250px;
    margin-bottom: 18px;
    margin-top: 12px;
    width: 100%;
}

#station-card-name {
    line-height: 1.2em;
    margin-top: 4px;
    text-align: center;
}

@media (max-width: 600px) {
  header {
    height: auto;
      min-height: 64px;
  }

  #header-content-wrapper {
    height: auto;
    position: relative;
    overflow: auto;
  }

  #navigation {
    display: block;
    height: auto;
    float: none;
    overflow: auto;
    position: relative;
    margin: 0 auto;
    text-align: center;
    width: 400px;
  }

  #site-title {
    clear: both;
    display: block;
    margin: 0 auto;
    padding: 0;
    position: relative;
    text-align: center;
  }
    
  .nav-item {
    float: none;
    height: 1.4em;
    line-height: 1.4em;
    padding-bottom: 16px;
  }
}
